@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* New css */

:root {
  --primary-color: #ff6666;
  --dark-color: #000;
  --white-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6, 
p {
 font-family: "Inconsolata", monospace;
}


/* Nav */

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 3px;
  color: var(--primary-color);
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d7d7d7;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.95rem;
}

.search-box i{
  font-size: 1rem;
  color: #d7d7d7;
}


.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.user-nav i {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.divider{
  height: 1px;
  width: 100%;
  background-color: #f9f9f9;
}

/* category */

.category-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
}
.category-item {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 2px;
}

.category-item:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}


/* Header */

header{
  background-image: url('https://images.unsplash.com/photo-1483985988355-763728e1935b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: 100% 30%;
  height: 350px;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #d7d7d7a9;
  background-blend-mode: overlay;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);

  width: 100%;
  max-width: 450px;
}

header p{
  font-size: 1.2rem;
  color: var(--dark-color);
  width: 100%;
  max-width: 450px;
  margin: 1rem 0;
}
header button{
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
header button:hover{
  background-color: var(--dark-color);
}


/* Main container */

main{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}
.main-heading{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 1rem;

}

/* Product Container */

.product-container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}


/* Product Card */

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--shadow-color);
  overflow: hidden;
  width: 100%; 
  border: 1px solid #fff;
  transition: all 0.3s;
}
.product-card:hover {
  border: 1px solid var(--primary-color);
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info{
  padding: 1rem;
}
.product-info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin: 0.5rem 0;
}
.product-info p {
  font-size: 0.95rem;
  color: #777;
  margin: 0.5rem 0;
}
.product-info span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.product-info button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.product-info button:hover {
  background-color: var(--dark-color);
}